{
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier", "react-hooks"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/prop-types": "off",
    "jsx-a11y/tabindex-no-positive": "off",
    "prefer-arrow-callback": "error",
    "import/prefer-default-export": "off",
    "arrow-body-style": ["error", "as-needed"],
    "curly": ["error", "multi"]
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["~components", "./src/components"],
          ["~utils", "./src/utils"],
          ["~pages", "./src/pages"],
          ["~sections", "./src/sections"],
          ["~static", "./src/static"]
        ],
        "extensions": [".js", ".jsx", ".json"]
      }
    }
  }
}
